# Exemplo de variáveis de ambiente para MPesa
MPESA_BASE=https://e2payments.explicador.co.mz/v1
MPESA_CLIENT_ID=a1c138af-b9d0-4e26-a674-1093b4311528
MPESA_CLIENT_SECRET=SB7WLwPgOGxt1gbgLwac9TAaAJdjle8C0CVHpSwN
